header {
 
  background: var(--ligtBg);
  padding: 10px 0;
}
header span {
  color: var(--pink);
}

header p {
  font-size: 1.5em;
  color: #000;
  font-weight: 600;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}